<script>$('a.button').replaceWith('<div class="header-center">新規登録</div><a class="home" href="/"><img src="<%= asset_path "home.jpeg" %>" alt="home"></a>');</script>

<div class="contents">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %><br>
  
    <div class="field"> 
     <%= f.label :ユーザー名 %> <em>(最大8文字)</em><br />
      <%# f.text_field :nickname, autofocus: true, maxlength: "8" %>
      <span class="input-signup input--minoru">
        <input class="input__field input__field--minoru" autofocus="autofocus" maxlength="8" size="8" type="text" name="user[nickname]" id="user_nickname">
        <label class="input__label input__label--minoru" for="user_nickname"></label>
      </span>
    </div>

    <div class="field">
      <%= f.label :メールアドレス %><br />
      <span class="input-signup input--minoru">
        <input type="email" value="" name="user[email]" id="user_email" class="input__field input__field--minoru" >
        <label class="input__label input__label--minoru" for="user_email"></label>
      </span>
    </div>
  
    <div class="field">
      <%= f.label :パスワード %>
      <% if @validatable %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <span class="input-signup input--minoru">
        <input autocomplete="off" type="password" name="user[password]" id="user_password" class="input__field input__field--minoru">
        <label class="input__label input__label--minoru" for="user_password"></label>
      </span>
    </div>
  
    <div class="field">
      <%= f.label :パスワード（再入力） %><br />
      <span class="input-signup input--minoru">
        <input autocomplete="off" type="password" name="user[password_confirmation]" id="user_password_confirmation" class="input__field input__field--minoru">
        <label class="input__label input__label--minoru" for="user_password_confirmation"></label>
      </span>
    </div>
  
    <div class="actions">
      <input type="submit" name="commit" value="登録" class="button button-enter button--wapasha button--text-thick">
    </div>
  <% end %>
  
  <%# render "devise/shared/links" %>
</div>
