<div class="contents row">
  <div class="container">
    <% binding.pry %>
    <%= form_for [@train] do |f| %>
      <%# ラジオボタン選択 %>
      <p>
        <%= f.label :reply_id, '解答候補:' %>
        <%= f.collection_radio_buttons :reply_id, @tweet.replys, :id, :sentence %>
        <%= f.radio_button :reply_id, '', checked: @reply_id == '' %>
        <%= f.label :reply_id_, '自分で入力する' %>
        <%= f.text_area :reply, size: "30x2" %>
      </p>
      <input type="submit" value="SENT">
    <% end %>
  </div>
</div>
