<h1>Chat</h1>

<ul id="chat">
  <div class="left">
    <%= render partial: "sentence", locals: { sentence: @sentence } %>
  </div>
</ul>

<div class="edit_button">
  <button id="edit" type="button">発言を修正</button>
  <button id="new" type="button">修正をやめる</button>
</div>

<div class="contents">
  <div class="edit">
    <%= form_for Sentence.new, remote: true do |f| %>
      <%= f.text_area :sentence, placeholder: '修正内容を入力' %>
      <%= f.submit "Send" %>
    <% end %>
  </div>
  <div class="new">
    <%= form_for Sentence.new, remote: true do |f| %>
      <%= f.text_area :sentence, placeholder: 'Write something...' %>
      <%= f.submit "Send" %>
    <% end %>
  </div>
</div>
