<script>$('div.header-center').html("<%= @eval.pairwises.count %> /10");</script>

<div class="contents">
  <p class="question">
    <%= @tweet.sentence %>
  </p>

  <%= form_tag("/evaluates/#{@eval.id}/pairwises/#{@pairwise.id}", method: :patch) do %>
    <button type='submit' class="button4choice button--ujarak button--border-medium button--round-s button--text-thick" name='inequality_flag' value="1"><%= @pairwise.reply_x.sentence %></button>
    <button type='submit' class="button4choice button--ujarak button--border-medium button--round-s button--text-thick" name='inequality_flag' value="2"><%= @pairwise.reply_y.sentence %></button>
    <button type='submit' class="button4choice button--ujarak button--border-medium button--round-s button--text-thick edit_color" name='inequality_flag' value="0">どちらも同じレベル</button>
  <% end %>

</div>
