<script>$('div.header-center').html("<%= params[:id] %> /10");</script>

<div class="contents">
  <div class="chat-box">
    <div class="chat-face">
      <img alt="Icon" src="<%= asset_path "icon/#{["normal","understanding","thinking"].sample}_#{[0,2,1][current_user.bot.gender]}-#{[1,2,3,4].sample}.png" %>" width="90" height="90" />
    </div>
    <div class="chat-area">
      <div class="chat-hukidashi-choice">
        <p><%= @tweet.sentence %></p>
        
      </div>
    </div>
  </div>


  <%= form_tag("/topics/#{params[:topic_id]}/choices/#{params[:id]}", method: :patch, name: "choice-new") do %>
    <br>
    <input type="text" name="dummy" value="" style="display:none;">
    <div class="container pt20">
      <div class="form-group checkbox-wrap text-center">
      <%# ["桃は硬いですか","桃が言いますか？？","山梨から桃が届きますか？？","手に持ちますか？？"].each do |train| %>
      <% @trains.each do |train| %>
          <div class="pos-center">
            <label class="label-checkbox">
              <input class="chkbox" type="checkbox" name="train_id[]" value="<%= train.id %>" />
              <span class="lever"><%= train.reply.sentence %></span>
            </label><br>
          </div>
        <% end %>
      </div>
    </div>
    <div class="chat-face-choice">
      <img class="my-icon" alt="Icon" src="<%= asset_path "icon/normal_#{current_user.bot.gender}-#{current_user.bot.hair_color}.png" %>" width="90" height="90" />
    </div>
    <div class="choice">
      <button type='button' class="choice-new button button-choice button--wapasha" name='action' value='send' onclick="double('choice-new')">応答が全て良くない</button>
    </div>
    <button type='button' class="button button-badq button--wapasha button--border-medium blue" name='action' value='send' onclick="double_badq(<%= @tweet.id %>)">質問が悪い</button>

  <% end %>
</div>
