<script>$('div.header-center').html("<%= params[:id] %> /10");</script>

<div class="contents">
  <p>質問文</p>
  <p class="question">
    <%= @tweet.sentence %>
  </p>

  <%= form_tag("/topics/#{params[:topic_id]}/choices/#{params[:id]}", method: :patch, name: "choice-new") do %>
    <button type='button' class="button button-badq button--wapasha button--border-medium blue" name='action' value='send' onclick="double_badq(<%=@tweet.id%>)">質問が悪い</button>
    <br><br>
    <p>応答文を選択</p>
    <input type="text" name="dummy" value="" style="display:none;">
    <div class="container pt20">
      <div class="form-group checkbox-wrap text-center">
        <div class="pos-center">
          <label class="label-checkbox">
            <input class="chkbox" type="checkbox" name="train_id[]" value="<%= @train_1.id %>" />
            <span class="lever"><%= @train_1.reply.sentence %></span>
          </label><br>
        </div>
        <div class="pos-center">
          <label class="label-checkbox">
            <input class="chkbox" type="checkbox" name="train_id[]" value="<%= @train_2.id %>" />
            <span class="lever"><%= @train_2.reply.sentence %></span>
          </label><br>
        </div>
        <div class="pos-center">
          <label class="label-checkbox">
            <input class="chkbox" type="checkbox" name="train_id[]" value="<%= @train_3.id %>"/>
            <span class="lever"><%= @train_3.reply.sentence %></span>
          </label><br>
        </div>
      </div>
    </div>
    <div class="choice">
      <button type='button' class="choice-new button button-choice button--wapasha" name='action' value='send' onclick="double('choice-new')">応答が全て良くない</button>
    </div>
  <% end %>
</div>
