<head>
</head>
<body>
  <h1>4 choices</h1>
  <div class="contents">
    <p>
      <%= @tweet.sentence %>
    </p>
  
    <%= form_tag("/choices", method: :post) do %>
      <label><input type="checkbox" name="train_id[]" value="<%= @train_1.id %>" /><%= @train_1.reply.sentence %></label>
      <br>
      <label><input type="checkbox" name="train_id[]" value="<%= @train_2.id %>" /><%= @train_2.reply.sentence %></label>
      <br>
      <label><input type="checkbox" name="train_id[]" value="<%= @train_3.id %>" /><%= @train_3.reply.sentence %></label>
      <button type='submit' class="button4choice button--ujarak button--border-medium button--round-s button--text-thick edit_color" name='action' value='send'>送信</button>
    <% end %>
  </div>
</body>
