<script>$('h2.grid-6').html("<a href='/'>戻る</a>");</script>
<script>$('div.header-center').html('戦績');</script>

  <div class="contents row" id="eval-frame">
    <% @evals.each do |eval| %>
      <% user, enemy, user_win_flag, user_face, enemy_face = eval.win_or_lose(@current_user_id) %>
      <div class="eval-box win-<%=user_win_flag%>">
        <div class="eval-win-flag">
          <img alt="Icon" src="<%= asset_path "win_lose_image/result_#{user_win_flag}.png" %>" width="90" height="90" />
        </div>
        <div class="eval-face">
          <img alt="Icon" src="<%= asset_path "icon/#{user_face}_#{user.bot.gender}-#{user.bot.hair_color}.png" %>" width="90" height="90" />
        </div>
        <div class="eval-hukidashi"> 
          <p class="time"> <%#  eval.updated_at.strftime("%Y年%m月%d日 %H時%M分") %> </p>
          <p class="top"> <%= user.bot.bot_name %> </p>
          <p class="middle"> vs </p>
          <p class="bottom"> <%= enemy.bot.bot_name %> </p>
        </div>
        <div class="eval-face">
          <img alt="Icon" src="<%= asset_path "icon/#{enemy_face}_#{enemy.bot.gender}-#{enemy.bot.hair_color}.png" %>" width="90" height="90" />
        </div>
  
          <div class="edit_button">
            <button id="edit" type="button" class="button button--ujarak button--border-medium button--round-l button--text-thick edit_color">修正</button>
            <button id="new" type="button" class="button button--ujarak button--border-medium button--round-l button--text-thick edit_color">x</button>
          </div>
      </div>
  
    <% end %>
  </div>
