<!DOCTYPE html>
<html>
<head>
  <title>Mybot</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width" >
</head>
<body>
  <header class="header">
    <div class="header__bar row">
      <h1 class="grid-6"><a href="/">Mybot</a></h1>
      <% if user_signed_in? %>
        <div class="header-center"></div>
        <span>
          <a class="home" href="/"><img src="<%= asset_path "home.jpeg" %>" alt="home"></a>
        </span>        
      <% else %>
        <a class="button button--ujarak button--border-thin button--round-s button--text-medium" href="/users/sign_in">ログイン</a>
        <a class="button button--ujarak button--border-thin button--round-s button--text-medium" href="/users/sign_up">新規登録</a>
      <% end %>
    </div>
  </header>

  <%= yield %>

</body>
</html>
